:root {
    --title-background-colour: rgba(8, 9, 9, 0.8);
    --title-toggle-colour: rgba(6, 6, 6, 0.8);
    --canvas-background-colour: #227cc0;
    --background-colour: #141515;
    --container-colour: #101111;
    --alt-container-colour: #161717;
    --tertiary-container-colour: #b0b0b0;
    --text-colour: #d9e7e7;
    --box-shadow-colour: rgba(0, 0, 0, 0.8);
    --box-highlight-colour: #848484;
    --unvisited-colour: #2583cb;
    --visited-colour: #e038a8;
    --info-tag-colour: #3993dd;
    --box-hover-colour: #2c2d2d;

    --switch-hover-colour: #888888;
    --switch-background-colour: #bbbbbb;
    --switch-handle-colour: #d6d6d6;
    --slider-height: 22px;

    --general-border-radius: 15px;
    --box-shadow-radius: 15px;
    --box-shadow-size: 3px;
}

:root:has(.light-switch input:checked) {
    --title-background-colour: rgba(155, 155, 155, 0.8);
    --title-toggle-colour: rgba(165, 165, 165, 0.8);
    --canvas-background-colour: #227cc0;
    --background-colour: #d6d6d6;
    --container-colour: #bbbbbb;
    --alt-container-colour: #d8d8d8;
    --tertiary-container-colour: #c1c1c1;
    --text-colour: #1e1e1e;
    --box-shadow-colour: rgba(149, 149, 149, 0.8);
    --box-highlight-colour: #ffffff;
    --unvisited-colour: #2583cb;
    --visited-colour: #e038a8;
    --info-tag-colour: #91e1ff;
    --box-hover-colour: #b4b4b4;
    --switch-hover-colour: #505050;
    
    --box-shadow-radius: 0px;
    --box-shadow-size: 0px;
}

:root * {
    transition: background-color 0.4s linear, box-shadow 0.4s linear, color 0.4s linear, border-color 0.4s linear;
}

body {
    background-color: var(--background-colour);
    font-family: 'Leelawadee UI', 'Segoe UI', Tahoma, Geneva, sans-serif;
    color: var(--text-colour);
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}

main {
    margin: 0 14% 2%;
}

h1 {
    font-size: 2.5em;
    font-weight: 350;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.8em;
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

h4 {
    font-size: 1em;
    font-weight: 550;
    margin: 0 0 3px;
}

.header-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: overlay;
    -webkit-box-shadow: 0px 0px 50px var(--box-shadow-size) var(--box-shadow-colour);
    -moz-box-shadow: 0px 0px 50px var(--box-shadow-size) var(--box-shadow-colour);
    box-shadow: 0px 0px 50px var(--box-shadow-size) var(--box-shadow-colour);

    background: -webkit-radial-gradient(rgba(50, 50, 50, 0) 55%, rgba(37, 37, 37, 0.3) 90%, rgba(37, 37, 37, 0.3));
}

.header-container > canvas,
.header-container > .header-text,
.header-container > .controls {
    grid-area: overlay;
}

.canvas-container {
    pointer-events: none;
}

canvas {
    background-color: var(--canvas-background-colour);
    width: 100vw;
    height: 100vh;
    z-index: -2;
    image-rendering: pixelated;
    pointer-events: all;
}

.header-text {
    border-radius: 0 15px 15px 0;
    background-color: var(--title-background-colour);
    padding: 2% 4% 2% 10%;
    width: max-content;
    margin: auto 0 auto;
    z-index: 10;
    pointer-events: none;
}

.controls {
    z-index: 0;
    border-radius: 15px 15px 0 0;
    background-color: var(--title-background-colour);
    width: max-content;
    height: fit-content;
    margin-right: 30px;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    pointer-events: none;
}

.controls h2 {
    margin: auto;
}

.controls input, #controls-toggle {
    pointer-events: all;
}

#controls-toggle {
    border-radius: 15px 15px 0 0;
}

#controls-toggle:hover {
    cursor: pointer;
}

.controls-content {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

#controls-display {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    padding-bottom: 15px;
}

#controls-display h3 {
    margin: auto;
    text-align: center;
}

#controls-display h4 {
    font-weight: 400;
}

.controls > div {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sphere, .graphics {
    flex: 1;
    min-width: max-content;
}

.sphere > div, .graphics > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: var(--general-border-radius);
    background-color: var(--title-background-colour);
}

.sphere > div > div, .graphics > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.labelled-input label {
    min-width: 5ch;
    display: inline-block;
    text-align: right;
}

.controls .switch {
    width: calc(var(--slider-height) * 2);
    height: calc(var(--slider-height) - 4px);
}

.controls .slider:before {
    width: calc(var(--slider-height) / 2 + 2px);
    height: calc(var(--slider-height) / 2 + 2px);
}

.controls input:checked + .slider {
    background-color: #3993dd;
}

.controls input:checked + .slider:before {
    transform: translateX(calc(var(--slider-height) * 3 / 2 - 5px));
}

.range-slider {
    appearance: none;
    outline: none;
    border-radius: calc(var(--slider-height) / 2);
    height: 12px;
    background: var(--switch-background-colour);
    transition: 0.2s;
}

.range-slider:hover {
    background-color: var(--switch-hover-colour);
}

.range-slider::-webkit-slider-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    cursor: pointer;
    border-radius: calc(var(--slider-height) / 2);
    background-color: var(--switch-handle-colour);
}

.range-slider::-moz-range-thumb {
    height: 14px;
    width: 14px;
    cursor: pointer;
    border-radius: calc(var(--slider-height) / 2);
    background-color: var(--switch-handle-colour);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

.switch:hover .slider {
    background-color: var(--switch-hover-colour);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-background-colour);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    pointer-events: all;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 2px;
    bottom: 2px;
    background-color: var(--switch-handle-colour);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #101111;
}

input:checked + .slider:before {
    transform: translateX(32px);
}

.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrap {
    width: 300px;
    display: inline-block;
}

.alt-a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.alt-a * {
    color: inherit;
    text-decoration: none;
}

.alt-a:visited {
    color: inherit;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(150px);
    place-items: center;
    gap: 40px;
}

.img-grid h3 {
    justify-self: center;
}

.img-grid img {
    box-shadow: 0 0 var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
    border-radius: var(--general-border-radius);
    margin: 10px 12px;
    width: 80%;
    transition: transform 0.2s ease;
}

.img-grid img:hover {
    transform: scale(1.07);
}

.dynamic-separator {
    border-left: 2px solid var(--box-highlight-colour);
}

.about-box {
    grid-template-columns: auto 2px 300px !important;
}

.light-switch {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--container-colour);
    float: right;
    padding: 10px;
    border-radius: var(--general-border-radius);
    box-shadow: 0 0 var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
    align-items: center;
    margin: 0 0 10px 0;
}

nav a:hover {
    border-bottom: 3px solid var(--text-colour);
    transform: scale(1.05);
    transform-origin: center center;
}

nav a.right-group {
    margin-left: auto;
}

nav a.right-group:hover {
    border-bottom: none;
}

nav a.right-group::after {
    content: '...';
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav a.right-group:hover::after {
    opacity: 1;
}

.dropdown {
    display: block;
    position: fixed;
    top: -20%;
    opacity: 0;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    z-index: 7;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: #101111;
    border-radius: 1vh;
    color: #d9e7e7;
}

.dropdown ul {
    list-style: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
}

.dropdown li {
    padding: 0.2vh;
    margin: 1vh;
    display: flex;
    flex-direction: row;
}

.dropdown li a {
    color: var(--text-colour);
    text-decoration: none;
    display: block;
}

.dropdown img {
    width: 90%;
}

.dropdown.dropdown-animation {
    top: 8%;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.dropdown.dropdown-recall {
    top: -20%;
    transition: top 0.3s ease-out, opacity 0.3s ease;
    opacity: 1;
}

#contact-link:hover + .dropdown,
#contact-dropdown:hover {
    display: block;
}

#contact-link {
    user-select: none;
}

noscript {
    background: #895d94;
    background: linear-gradient(146deg, rgba(137, 93, 148, 1) 0%, rgba(125, 11, 11, 1) 25%, rgba(130, 88, 30, 1) 75%, rgba(137, 93, 148, 1) 100%);
    background-size: 200%;
    background-repeat: repeat;
    animation: warning-bg 2s infinite linear;
    width: 90%;
    padding: 15px;
    border-radius: var(--general-border-radius);
    margin: 2vh;
    justify-self: center;
}

noscript h3 {
    padding: 0;
    margin: 0;
}

noscript > div {
    border-radius: var(--general-border-radius);
    padding: 10px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.35);
}

.js-enabled {
    display: none;
}

.shake {
    display: inline-block;
    will-change: transform;
    backface-visibility: hidden;
    animation: shake 1s var(--delay) infinite cubic-bezier( 0.45, 0.05, 0.55, 0.95 );
}

@keyframes warning-bg {
    0% { background-position-x: 0%; }
    50% { background-position-x: 100%; }
    100% { background-position-x: 200%; }
}

@keyframes shake {
    0%, 100% { transform: translateY(3px); }
    25%, 75% { transform: translateY(0px); }
    50% { transform: translateY(-3px); }
}

main a {
    color: var(--unvisited-colour);
}

main a:visited {
    color: var(--visited-colour);
}

video {
    width: 100%;
    border-radius: var(--general-border-radius);
}

.tagbreak {
    border: 0;
    margin: 0.5vh 0;
}

.break {
    border: 0;
    margin: 4vh 0;
}

.project-container {
    display: grid;
    perspective: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(20vh, auto);
    align-items: stretch;
    column-gap: 5vh;
    row-gap: 5vh;
    border-radius: var(--general-border-radius);
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: var(--general-border-radius);
}

.video-holder {
    z-index: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.project-video {
    flex: 1;
    position: relative;
    background: black;
    aspect-ratio: 16 / 9;
    border-radius: var(--general-border-radius);
    overflow: hidden;
}

.project-images > img {
    margin-top: 10px;
    width: 100%;
    border-radius: var(--general-border-radius);
}

.textbox {
    padding: 1%;
    width: 60%;
}

.nopad {
    padding: 0;
    margin: 0;
}

.navbox {
    width: 100%;
    height: calc(2em + max(2vh, 1vw));
    background-color: var(--background-colour);
    position: fixed;
    border: none;
    z-index: 4;
    margin: 0;
    top: 0;
}

.splash {
    padding: 2% 4%;
    margin: 0;
    background-size: 100%;
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    padding: 1.5%;
    background-color: var(--container-colour);
    display: grid;
    gap: 2vh;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--general-border-radius);
    margin-bottom: 5vh;
    box-shadow: 0px 0px var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
}

.spacegolf {
    color: #bfc7c7;
}

.spacegolf::before {
    background-image: url("../Content/spacegolf.png");
}

.project-article.active-state .spacegolf {
    background-size: cover;
    background-image: url("../Content/spacegolfsplash.png");
}

.alchemygame {
    color: #d9e7e7;
}

.alchemygame::before {
    background-image: url("../Content/alchemygame.png");
}

.project-article.active-state .alchemygame {
    background-size: cover;
    background-image: url("../Content/alchemygamesplash.png");
}

.dbexplorer {
    color: #343ae8;
}

.dbexplorer::before {
    background-image: url("../Content/dbexplorer.png");
}

.project-article.active-state .dbexplorer {
    background-image: url("../Content/dbexplorersplash.png");
}

.poker {
    color: #d9e7e7;
}

.poker::before {
    background-image: url("../Content/poker.png");
}

.project-article.active-state .poker {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Content/pokersplash.png");
}

.classifier {
    color: #d9e7e7;
}

.classifier::before {
    background-image: url("../Content/classifier.png");
}

.project-article.active-state .classifier {
    background-image: url("../Content/classifiersplash.png");
}

.graphics-project {
    color: #d9e7e7;
}

.graphics-project::before {
    background-image: url("../Content/graphics.jpg");
}

.project-article.active-state .graphics-project {
    background-image: url("../Content/graphicssplash.jpg");
}

.spacegolf-splash {
    background-image: url("../Content/spacegolfsplash.png");
}

.alchemygame-splash {
    background-image: url("../Content/alchemygamesplash.png");
}

.dbexplorer-splash {
    background-image: url(../Content/dbexplorersplash.png);
}

.poker-splash {
    background-image: url(../Content/pokersplash.png);
}

.overview-splash {
    background-color: var(--container-colour);
}

.classifier-splash {
    background-image: url("../Content/classifiersplash.png");
}

.tm-analyser {
    color: #d9e7e7;
}

.tm-analyser::before {
    background-image: url("../Content/tmanalyser.png");
}

.project-article.active-state .tm-analyser {
    background-image: url("../Content/tmanalysersplash.png");
}

.cnn-classifier {
    color:#d9e7e7;
}

.cnn-classifier::before {
    background-image: url("../Content/cnn_augmented_images.webp");
}

.project-article.active-state .cnn-classifier {
    background-image: url("../Content/cnn_augmented_splash.webp");
}

.add-contrast h3 {
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);    
}

.photo {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
}

.image-holder {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: auto;
    overflow: hidden;
    margin-left: auto;
}

.project-link {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.project-parallax {
    position: relative;
    height: 20vh;
    overflow: hidden;
    display: flex;
    border-radius: var(--general-border-radius) var(--general-border-radius) 0 0;
    align-items: center;
    justify-content: flex-start; 
    z-index: 2;
    background-color: transparent;
    transition: height 0.5s ease, background-color 0.5s ease;
}

.project-parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transform: translateY(var(--parallax-offset, 0));
    transition: opacity 0.5s ease;
}

.project-article {
    background-color: var(--container-colour);
    border-radius: var(--general-border-radius);
    color: var(--text-colour);
    will-change: transform, max-height;
    box-shadow: 0 0 0 var(--box-highlight-colour);
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100%;
    transition: 
        transform 0.2s ease-out,
        box-shadow 0.2s linear,
        rotate 0.2s ease,
        max-height 0.3s ease-in-out;

    -webkit-box-shadow: 0px 0px var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
    -moz-box-shadow: 0px 0px var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
    box-shadow: 0px 0px var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
}

.project-article.active-state {
    grid-column: 1 / -1;
    width: 100%;
    justify-self: center;
    z-index: 20;

    --rx: 0deg !important;
    --ry: 0deg !important;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}

.project-article.active-state .project-parallax::before {
    opacity: 0;
}

.content-summary, .content-expanded {
  grid-row: 2;
  grid-column: 1;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out, opacity 0.5s ease 0.2s;
}

.project-article:not(.active-state) .content-summary,
.project-article.active-state .content-expanded {
  visibility: visible;
  opacity: 1;
  max-height: 2000px; 
  padding: 10px 15px;
}

.project-article.active-state .content-expanded {
    transition: max-height 0.3s ease, opacity 0.5s ease 0.2s;
}

.project-parallax h3 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    z-index: 2;
    padding: 0;
    white-space: nowrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    transition: 
        left 0.5s ease, 
        transform 0.5s ease, 
        font-size 0.5s ease, 
        padding 0.5s ease;
}

.project-article.active-state .project-parallax h3 {
    font-size: 2em;
    left: 0%;
    transform: translateX(0%);
    padding-left: 5%;
}

.project-article.active-state .project-parallax {
    height: 10vh;
}

.content-expanded {
    display: grid;
    gap: 3vh;
    grid-template-columns: 1fr 2px 1fr;
}

.project-article:not(.active-state):hover {
    box-shadow: 0 0 8px var(--box-highlight-colour);
    animation: pulse 2s infinite ease-in-out;
    transform: perspective(1000px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg)) scale(1.05);
}

@keyframes pulse {
    0% { box-shadow: 0 0 8px var(--box-highlight-colour); }
    50% { box-shadow: 0 0 22px var(--box-highlight-colour);}
    100% { box-shadow: 0 0 8px var(--box-highlight-colour);}
}

.inverse-hover:hover {
    border-bottom: 3px solid #343ae8;
    transform: scale(1.05);
    transform-origin: center center;
}

.inverse-background {
    background-color: #eeeeee;
}

.info-tag {
    display: inline-block !important;
    background-color: var(--info-tag-colour) !important;
    padding: 3px !important;
    border-radius: 6px !important;
    margin: 0.3% 0 0.6% 0;
}

.language-grid {
    margin-top: 3vh;
    border-radius: var(--general-border-radius);
    padding: 3vh;
    background-color: var(--container-colour);
    display: grid;
    gap: 3vh;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: left;
    perspective: 1000px;
    justify-items: center;
    box-shadow: 0px 0px var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
}

.padded {
    padding-right: 1vh;
}

.language-article {
    width: 100%;
    height: auto; 
    min-height: 100px;
    padding: 0;
    background-color: var(--alt-container-colour);
    border-radius: var(--general-border-radius);
    transform: perspective(1000px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    
    display: grid;
    grid-template-columns: 1fr 0fr; 
    grid-column: span 1;
    align-items: center;
    
    overflow: hidden;
    will-change: transform;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
    box-shadow: 0 calc(var(--box-shadow-size) * 3) var(--box-shadow-radius) var(--box-shadow-size) var(--box-shadow-colour);
}

.info {
    transition: background-color 0.5s ease;
}

.highlight-background {
    background-color: var(--box-highlight-colour);
}

.language-article:not(.active-state):hover {
    background-color: var(--box-hover-colour);
    transform: scale(1.05);

    --rx: 0deg !important;
    --ry: 0deg !important;
}

.language-article.active-state {
    --rx: 0deg !important;
    --ry: 0deg !important;

    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
}

.expanded-language {
    display: none;
    flex: 1;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.4s, transform 0.3s ease;
    align-self: start;
    background-color: var(--box-hover-colour);
    width: 100%;
    height: 100%;
    border-radius: var(--general-border-radius);
}

.expanded-language div {
    padding: 6px;
    font-size: 14px;
}

.language-article.active-state .expanded-language {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.base-language {
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.language-article h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}

.language-article * {
    padding: 0;
    margin: 0;
}

.language-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: var(--general-border-radius);
    background-color: var(--tertiary-container-colour)
}

.language-image > img {
    width: 90px;
    height: 90px;
    display: block;
}

.tag-div {
    border-radius: 0 0 15px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-container {
    display: flex;
    align-items: stretch;
}

.scroll-button {
    all: unset;
    appearance: none;
    display: flex;
    background-color: var(--container-colour);
    align-items: center;
    justify-content: center;
    color: #d9e7e7;
    border-radius: 1vh;
    cursor: pointer;
    padding: 1vh;
}

.scroll-button:disabled {
    cursor: default;
}

.arrow {
    max-width: 3vh;
    user-select: none;
    transition: opacity 0.3s ease;
}

.scroll-button:disabled .arrow {
    opacity: 0.5;
}

.foot-margin {
    margin-bottom: 100px;
}

.mnist-image {
    border-radius: 1vh;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1500px) {
    .header-text h1 {
        font-size: 2.5em;
    }

    .header-text h2 {
        font-size: 1.6em;
    }

    h4 {
        margin: 0;
    }

    .range-slider {
        height: 12px;
    }

    .range-slider::-webkit-slider-thumb, .range-slider::-moz-range-thumb {
        height: 14px;
        width: 14px;
    }

    #controls-display {
        flex-direction: column;
    }

    main {
        margin: 0 10% 2%;
    }
}

@media (max-width: 1100px) {
    h1 {
        font-size: 2.5em; 
    }

    h2 {
        font-size: 1.8em;
    }

    body {
        font-size: 18px;
    }

    .controls {
        font-size: 14px;
    }

    main {
        margin: 0 4% 0;
    }

    .header-text {
        margin: 0 auto auto auto;
        border-radius: 0 0 15px 15px;
        width: 50%;
        text-align: center;
        padding: 3% 3% 3%;
    }

    .content-expanded {
        grid-template-columns: 1fr;
    }

    .project-article.active-state {
        width: 100%;
    }

    nav {
        width: 92%;
        padding: 0 4% max(1vh, 1vw);
    }

    nav a {
        padding: 2vw 0;
        font-size: 2em;
    }

    nav a:hover {
        border-bottom: none;
    }

    .textbox {
        width: 100%;
    }

    .navbox {
        height: calc(4em + max(2vh, 2vw));
    }

    .image-holder {
        justify-content: center;
    }

    .photo {
        max-width: 35%;
        max-height: 35%;
    }

    .dynamic-separator {
        border-left: none;
        border-top: 2px solid var(--box-highlight-colour);
    }

    .about-box {
        grid-template-columns: 1fr !important;
    }

    .img-grid img {
        max-width: 120px;
    }

    .img-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        margin: 0 8% 2%;
    }
}